h1 {
  color: deepskyblue;
  text-align: center;
}

section {
    color: saddlebrown;
    text-align: center;
}
  
div {
    color: saddlebrown;
    text-align: center;
}

footer {
    font-size: 0.7em;
}